@model HOTELNAPOLI.Models.Clienti

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-3">ELIMINA CLIENTE</h1>

<h3>Sei sicuro di voler eliminare questo cliente?</h3>
<div>
    <dl class="row bg-black bg-opacity-75 text-white p-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Citta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cellulare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cellulare)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-light fs-4 rounded-0"><i class="bi bi-arrow-bar-left"></i></a><input type="submit" value="ELIMINA" class="btn btn-outline-light fs-4 rounded-0" />
    </form>
</div>
