@model IEnumerable<HOTELNAPOLI.Models.Prenotazioni>

@{
    ViewData["Title"] = "SearchByCodiceFiscale";
}

<h1>RISULTATI DA CODICE FISCALE</h1>

<table class="table bg-gradient fw-bold shadow text-center">
    <thead class="text-black">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPrenotazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInizioSoggiorno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFineSoggiorno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pensione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrenotazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInizioSoggiorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFineSoggiorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                    @item.Cliente?.Cognome @item.Cliente?.Nome
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camera.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pensione.Tipologia)
            </td>
        </tr>
}
    </tbody>


</table>
<div class="form-group mt-3 text-center">
    <a asp-action="Index" class="btn btn-dark fs-4 rounded-0">INDIETRO</a>
</div>